@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Work+Sans&display=swap');

:root {
    --primary-white: #ffffff;
    --primary-black: #231916;
    --primary-grey: #DBDBDB;
    --primary-dark-grey: #A8A8A8;
    --secondary-dark-grey: #CCCCCC;
    --primary-yellow: #E0D517;
    --primary-red: #D40000;
    --secondary-red: #961A1C;
}

html {
    scroll-behavior: smooth;
    color: var(--primary-black);
}

body{
    margin: 0;
}

* {
    font-family: Poppins, 'Work Sans', sans-serif;
}

nav{
    background-color: var(--primary-red) !important;
    color: var(--primary-white) !important;
}

header{
    padding: 2rem;
    text-align: justify;
    background-image: url("/images/header-bg.svg");
    background-repeat: no-repeat;
}

h1{
    font-weight: 600;
    padding: 1.5rem 0;
    text-align: center;
    text-decoration: underline var(--primary-yellow) solid 0.3rem;
    text-underline-offset: 20px;
}

header h1{
    text-decoration: none;
}

.highlight{
    color: var(--secondary-red);
    font-weight: 600;
}

section, footer{
    padding: 2rem;
}

.benefit{
    background-color: var(--secondary-red);
    color: var(--primary-white);
}

.benefit h5{
    color: var(--primary-yellow);
}

.benefit-desc{
    margin-left: 2rem;
}

.benefit-item{
    display: flex;
    align-items: start;
    padding: 1rem 0;
}

.produk{
    text-align: center;
}

.cta{
    font-weight: 600;
    color: var(--primary-white);
    background: var(--primary-red);
    border-radius: 20px;
    border: none;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.cta:hover, .cta:active{
    background: var(--primary-black);
    padding: 0.5rem 2.75rem;
    transition-duration: 0.5s;
}

.accent-img{
    display: none;
}

.cara-memasak{
    background-color: var(--secondary-red);
}

.cara-memasak h1{
    color: var(--primary-white);
}

iframe{
    display: block;
    margin: 2rem auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.artikel{
    text-align: center;
}

.artikel-item{
    padding: 2rem;
}

footer{
    padding: 4rem 2rem;
    text-align: center;
    color: var(--primary-white);
    background-color: var(--secondary-red);
}

.social-media{
    width: fit-content;
    text-align: left;
    padding: 1rem 0;
}

.social-media-item{
    display: flex;
    align-items: center;
    font-size: smaller;
}

.social-media-item:hover, .social-media-item:active{
    color: var(--primary-yellow);
    cursor: pointer;
}

.social-media-item span{
    margin: 0 0.5rem;
}

.send-message{
    color: var(--primary-black);
    background-color: var(--primary-white);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    text-align: left;
}

.form-button{
    width: 100%;
    display: flex;
    justify-content: end;
}

input[type=email], textarea{
    font-family: 'Work Sans', sans-serif !important;
    width: 100%;
}

label{
    padding-top: 1rem;
}

.send-message{
    padding: 2rem;
}

@media (min-width: 768px){
    header{
        padding: 5rem;
    }
    .benefit-item{
        align-items: center;
    }
    .cara-memasak{
        display: flex;
        justify-content: space-around;
    }
    .cara-memasak-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .cara-memasak h1{
        text-align: left;
    }
    iframe{
        width: 380px;
    }
    .accent-img{
        display: block;
        position: absolute;
        z-index: -1;
    }
    #accent-img-left{
        top: 75rem;
        left: 0;
    }
    #accent-img-right{
        top: 65rem;
        right: 0;
    }
    footer{
        padding: 4rem;
        text-align: left;
    }
}

@media (min-width: 1024px) {
    header{
        padding: 5rem 15rem;
    }
    section, footer{
        padding: 5rem;
    }
    .benefit{
        display: flex;
        justify-content: space-between;
    }
    .benefit-column1{
        padding-right: 1.5rem;
        width: 35rem;
    }
    .benefit-column2{
        padding-left: 1.5rem;
        width: 35rem;
    }
    .benefit-item{
        align-items: center;
        padding: 2rem 0;
    }
    .benefit-img{
        width: 8rem;
        height: 8rem;
    }
    .produk h1{
        text-align: start;
    }
    iframe{
        width: 560px;
    }
    .artikel-items{
        display: flex;
        justify-content: center;
    }
    .artikel-item img{
        width: 12rem;
    }
    footer{
        display: flex;
    }
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding-right: 2rem;
    }
    .send-message{
        width: 30rem;
    }
    .send-message h1{
        text-align: left;
    }
    .send-message-title, .form-message{
        width: 80%;
        margin: 0 auto;
    }
}