<footer th:fragment="footer">
    <div class="contact">
        <div class="name-address">
            <h5 class="text-lg font-semibold md:text-base">PT Imdifoods Berkah Jaya</h5>
            <p class="text-sm">
                Kompleks Belanti Permai 2 Blok H/8 Khatib Sulaiman, Kelurahan Gunung Pangilun, Kecamatan Padang Utara,
                Kota Padang, Sumatra Barat 25137
            </p>
        </div>
        <div class="social-media">
            <div class="social-media-item">
                <img th:src="@{/images/contact-wa.svg}" alt="Whatsapp"/>
                <a href="https://wa.me/87792492008" target="_blank"><span>0877-9249-2008</span></a>
            </div>
            <div class="social-media-item">
                <img th:src="@{/images/contact-fb.svg}" alt="Facebook"/>
                <a href="https://www.facebook.com/bumburendangpadang/"
                   target="_blank"><span>Bumbu Rendang Imdifoods</span></a>
            </div>
            <div class="social-media-item">
                <img th:src="@{/images/contact-ig.svg}" alt="Instagram"/>
                <a href="https://www.instagram.com/bumburendangpadangg/"
                   target="_blank"><span>@bumburendangpadangg</span></a>
            </div>
            <div class="social-media-item">
                <img th:src="@{/images/contact-gmail.svg}" alt="GMail"/>
                <a href="mailto:bumburendangpadangasli@gmail.com" target="_target"><span>bumburendangpadangasli@gmail.com</span></a>
            </div>
        </div>
    </div>
    <div class="send-message">
        <div class="send-message-title">
            <h1 class="text-2xl font-semibold text-center py-6 px-0">Hubungi Kami</h1>
        </div>

        <form id="form-message" class="form-message" action="">
            <div class="form-field">
                <label for="sender-email" class="pt-4"><i>Email</i></label><br/>
                <input type="email" required id="sender-email" name="sender-email"
                       class="outline outline-gray-200 p-0.5 rounded-sm" placeholder="contoh: pengirim@mail.com"/><br/>
                <label for="sender-message" class="pt-4">Pesan</label><br/>
                <textarea required id="sender-message" name="sender-message"
                          class="outline outline-gray-200 p-0.5 rounded-sm" placeholder="Pesan...." rows="5"></textarea>
            </div>
            <div class="form-button">
                <button id="btn-submit" class="cta">Kirim</button>
            </div>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script th:src="@{/js/footer.js}" src="../../static/js/footer.js"></script>
</footer>
