<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2>Tambah Produk</h2>
                <form method="post" th:action="@{/product/add}" enctype="multipart/form-data">
                    <p>Nama Produk</p>
                    <input type="text" name="name" placeholder="Nama produk..." th:value="${name}" required>
                    <p>Deskripsi</p>
                    <input type="text" name="description" placeholder="Deskripsi produk..." th:value="${description}" required>
                    <p>Harga</p>
                    <input type="number" name="price" placeholder="Contoh: Rp100.000" th:value="${price}" required>
                    <p>Stok</p>
                    <input type="number" name="stock" placeholder="Contoh: 100" th:value="${stock}" required>
                    <br>
                    <img th:src="${imageUrl}" alt="Gambar yang diupload sebelumnya">
                    <br>
                    <input type="file" name="image" accept="image/*" required>
                    <br>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                </form>
                <span th:if="${msg != null}" th:text="${msg}"></span>
            </div>
        </div>
    </div>
</section>
</body>
</html>