<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tambah Produk - Imdifoods</title>
    <link th:href="@{/images/logo.png}" rel="shortcut icon" type="image/png" >
    <link th:href="@{/style.css}" href="../static/style.css" rel="stylesheet" />
    <link th:href="@{/css/createProduct.css}" href="../static/css/createProduct.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script th:src="@{/js/createProduct.js}" src="../static/js/createProduct.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="flex justify-center py-11">
        <div class="w-[20rem] md:w-[40rem] lg:w-[60rem] border shadow-lg rounded p-6">
            <h1 class="text-3xl font-semibold lg:text-left">Tambah Produk</h1>
            <form method="post" id="product-form" th:action="@{/product/add}" action="/product/add" enctype="multipart/form-data">
                <div class="my-3">
                    <p class="font-semibold">Nama Produk</p>
                    <input class="product-input" type="text" name="name" placeholder="Nama produk..." oninput="validity.valid||(value='');" th:value="${name}" required>
                </div>
                
                <div class="my-3">
                    <p class="font-semibold">Foto Produk</p>
                    <div class="flex justify-center">
                        <label for="image-input">
                            <img id="image-preview" class="max-w-full w-96 h-auto cursor-pointer hidden" src="#" alt="Selected Image">
                        </label>
                    </div>
                    <div id="image-upload" class="product-input border-dashed mx-auto text-center">
                        <label for="image-input">
                            <div class="py-6 cursor-pointer">
                                <i class="material-icons">upload</i>
                                <p>Seret dan lepas dokumen di sini</p>
                                <p class="font-light">atau</p>
                                <p class="font-semibold">Cari Dokumen</p>
                            </div>
                        </label>
                        <input class="w-full hidden" id="image-input" type="file" name="image" accept="image/*" oninput="validity.valid||(value='');" >
                    </div>
                </div>
                
                <div class="my-3">
                    <p class="font-semibold">Deskripsi</p>
                    <textarea class="product-input w-full resize-none" rows="3" name="description" placeholder="Deskripsi produk..." oninput="validity.valid||(value='');" th:value="${description}" required></textarea>
                </div>
                
                <div class="my-3">
                    <p class="font-semibold">Harga</p>
                    <input id="price-input" class="border-2 border-black border-opacity-25 rounded p-1 my-2" type="number" name="price" min="0" placeholder="Contoh: 100000" oninput="validity.valid||(value='');" th:value="${price}" required>
                </div>
                
                <div class="my-3">
                    <p class="font-semibold">Stok</p>
                    <input class="border-2 border-black border-opacity-25 rounded p-1 my-2" type="number" name="stock" min="0" placeholder="Contoh: 100" oninput="validity.valid||(value='');" th:value="${stock}" required>
                </div>

                <div class="flex my-3 justify-center lg:justify-end">
                    <button type="submit" id="simpan-button" class="bg-red-600 primary-btn"> Simpan</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal -->
    <div data-te-modal-init class="modal-overlay" id="save-popup" tabindex="-1" >
        <div class="center-content">
            <div data-te-modal-dialog-ref class="popup-box shadow-lg">
                <img id="popup-image" th:src="@{/images/question.png}" src="../static/images/question.png" alt="#" class="h-auto w-[70px]">
                <h2>
                    Simpan produk baru?
                </h2>
                <div>
                    <button class="bg-white secondary-btn" data-te-modal-dismiss>
                        Batal
                    </button>
                    <button type="submit" class="confirm-button bg-red-600 primary-btn" data-te-toggle="modal" data-te-target="#confirmation-popup" data-te-ripple-init data-te-ripple-color="success">
                        Ya
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div data-te-modal-init data-te-backdrop="static" data-te-keyboard="false" class="modal-overlay" id="confirmation-popup" tabindex="-1">
        <div class="center-content">
            <div data-te-modal-dialog-ref class="popup-box shadow-lg">
                <div id="loading-content" class="transition-opacity">
                    <img id="loader" th:src="@{/images/loader.gif}" src="../static/images/loader.gif" alt="#" class="loader">
                    <h2>Mohon tunggu...</h2>
                </div>
                <div id="confirmation-popup-content">
                    <img th:src="@{/images/ok.png}" src="../static/images/ok.png" alt="#" class="h-auto w-[70px]">
                    <h2>
                        Data berhasil tersimpan!
                    </h2>
                    <a th:href="@{/product}" class="bg-white secondary-btn">
                        Kembali ke daftar
                    </a>
                    <button id="add-new-button" class="primary-btn" data-te-modal-dismiss>
                        Tambah baru
                    </button>
                </div>
                <div id="fail-popup-content">
                    <img th:src="@{/images/warning.png}" src="../static/images/warning.png" alt="#" class="h-auto w-[70px]">
                    <h2>
                        Gagal menyimpan data.
                    </h2>
                    <button class="bg-white secondary-btn" data-te-modal-dismiss>
                        Batal
                    </button>
                    <button type="submit" class="confirm-button bg-red-600 primary-btn">
                        Kirim ulang
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>